
body{display: block;
    background-color: rgb(236, 71, 71);}

.textFormat {
    font-family: Georgia, 'Times New Roman', Times, serif";
}

hr {
    border:none;
    border-top: 10px dotted rgb(194, 57, 57);
    height:1px;
    width:5em;
  }

  .biohead{
     border-radius: 1em;
     box-shadow: 5px 2px rgb(161, 22, 22) ;
      background-color:rgb(187, 59, 59) ;
      margin: 0px;
      padding: 0px;
  }

  a{ 
    color: black;
    margin-top: 5em;
    margin: .5em;
    
    
  }

  a:hover{
      color: green;
  }